fastapi
uvicorn[standard]
python-multipart
pyjwt
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
alembic 
asyncpg 
sqlalchemy 
pydantic-settings
pydantic[email]
fastapi-mail
authlib
httpx
itsdangerous
fastapi-limiter
redis